/* padding */
.paddingtop-0{padding-top:0}
.paddingtop-10{padding-top:10px}
.paddingtop-20{padding-top:20px}
.paddingtop-30{padding-top:30px}
.paddingtop-40{padding-top:40px}
.paddingtop-50{padding-top:50px}
.paddingtop-60{padding-top:60px}
.paddingtop-70{padding-top:70px}
.paddingtop-80{padding-top:80px}
.paddingtop-90{padding-top:90px}
.paddingtop-100{padding-top:100px}
.paddingtop-150{padding-top:150px}
.paddingtop-200{padding-top:200px}
.paddingtop-250{padding-top:250px}
.paddingtop-350{padding-top:350px}

.paddingbot-0{padding-bottom:0}
.paddingbot-10{padding-bottom:10px}
.paddingbot-20{padding-bottom:20px}
.paddingbot-30{padding-bottom:30px}
.paddingbot-40{padding-bottom:40px}
.paddingbot-50{padding-bottom:50px}
.paddingbot-60{padding-bottom:60px}
.paddingbot-70{padding-bottom:70px}
.paddingbot-80{padding-bottom:80px}
.paddingbot-90{padding-bottom:90px}
.paddingbot-100{padding-bottom:100px}
.paddingbot-150{padding-bottom:150px}
.paddingbot-200{padding-bottom:200px}

.padding-50{padding: 50px;}

.margintop-10{margin-top: 10px}
.margintop-30{margin-top: 30px}
.margintop-50{margin-top: 50px}

.marginbot-30{margin-bottom: 30px}
.marginbot-50{margin-bottom: 50px}

.marginleft-20{margin-left: 20px}

.fontsize-10{font-size: 10px;}
.fontsize-15{font-size: 15px;}
.fontsize-20{font-size: 20px;}
.fontsize-30{font-size: 30px;}
.fontsize-50{font-size: 50px;}
.fontsize-100{font-size: 100px;}

.borderbottom-coral{border-bottom: 4px dotted coral;}

.backgroundcolor-gray{background-color: #e9ecef;}
.backgroundcolor-graysec{background-color: #868e96;}

.fa-coral{color: #182c39;}

.text-coral{color: coral;}

.wide{
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('1.jpg');
  background-size:cover;
}

.navbar-background{background-color: #182c39;}

.cliente-area{
  border-style: solid;
  border-color: lightgray;
  padding: 10px;
  border-radius: 3%;
}

.threefirst{
  border-style: solid;
  border-color: lightgray;
  border-radius: 70%;
  height: 200px;
  width: 200px;
  line-height: 22px;
  padding: 40px;
}

.threefirst .fa{
  font-size: 80px;
}

.img{
  max-width: 15%;
}

.letreiro{
  max-width: 70%;
}

.title{
  text-align: left;
  margin-bottom: 30px;
}

.brand{
  margin-right: -20rem;
}

@media screen and (max-width: 800px){
  #img-service{
    display: none;
  }
  #painel-principal{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .title{
    text-align: center;
    margin-bottom: 30px;
  }
  .letreiro{
    max-width: 100%;
  }
}